<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <li class="active"><a href="<%= root_path %>"> HOME </a></li>
    <li><%= link_to("About US", about_path) %></li>
    <li><%= link_to("Questions", admin_questions_path) %></li>

    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>

rails g model question title:string body:text
